.sidebar ul li:hover {
  background-color: blue;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar ul li:hover a {
  color: white;
}

.sidebar {
  color: #b7b7b7;
}

.active {
  background-color: rgb(117, 117, 117);
  border-radius: 5px;
  color: white;
}
